* {
	font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.container {
    margin-top: 80px;
    margin-bottom: 80px;
}

.name {
    text-align: left;
    font-size: 26px;
    color: black;
}

.pt_flag {
}

.en_flag {
    display: none;
}

.pt {
    display: none;
}

.en {
}

.left {
}

.left .title {
    font-weight: 600;
    font-size: 18px;
}

.pic {
    margin-bottom: 30px;
}

.pic img {
    width: 70%;
    max-width: 200px;
}

.about {
    font-weight: 300;
    margin-top: 30px;
}

.about p {
    margin-top: 20px;
}

.social {
    font-size: 25px;
}

.social table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.social td {
    text-align: center;
}

.skills {
    margin-top: 30px;
}

.skills p {
    width: 100%;
    word-spacing: 2rem;
}

.skills p .spaces {
    word-spacing: initial;
}

.interests {
    margin-top: 30px;
}

.interests ul {
    padding-left: 1rem;
}

.right {
    border-left: 2px solid grey;
    padding-left: 30px;
}

.right .title {
    font-weight: 600;
    font-size: 25px;
    padding-left: 79px;
}

.duration {
    width: 65px;
}

.subtitle {
    font-weight: 600;
    width: 70%;
}

.desc {
    padding-left: 13%;
    width: 70%;
}

@media (max-width: 991px) {
    .container {
        margin-top: 20px;
    }

    .name {
        text-align: center;
    }
    
    .pic {
        text-align: center;
    }

    .social {
        text-align: center;
        word-spacing: 80px;
    }

    .skills {
        margin-bottom: 20px;
    }

    .right {
        border-left : 0px;
        padding-left: 0;
    }

    .title {
        padding-left: 0;

    }

    .subtitle {
        width: 100%;
    }

    .desc {
        padding-left: 0px;
        width: 100%;
    }
}